<!DOCTYPE html>
<html lang="en" ng-app="todoModule">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="bower_components/Materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
    <style>
    .done-true {
        text-decoration: line-through;
    }
    
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: " ";
    }
    
    .clearfix:after {
        clear: both;
    }
    </style>
</head>

<body class="blue-grey">
    <br>
    <div class="container" ng-controller="todoController">
        <h2 class="center-align white-text">cc Todo</h2>

        <form name="todoForm" class="card-panel clearfix">
            <div class="input-field">
                <i class="fa fa-pencil-square-o prefix"></i>
                <input type="text" name="todoNote" placeholder="todo something" ng-model="todoNote">
            </div>
            <div class="right">
                <button class="btn waves-effect" ng-click="addTodo(todoNote)" ng-disabled="!todoNote">
                    <i class="fa fa-plus left"></i> add
                </button>

                <button class="btn waves-effect red lighten-2" ng-click="cleanTodo()" ng-disabled="ifDoneItem()">
                    <i class="fa fa-trash left"></i> clean
                </button>

                <button class="btn waves-effect green" ng-click="confessTodo()">
                    <i class="fa fa-undo"></i> confess
                </button>
            </div>
        </form>

        <!-- todo list -->
        <ul class="collection z-depth-1">
            <li class="collection-item" ng-repeat="item in todoList track by $index">
                <input type="checkbox" ng-checked="{{item.done}}" ng-model="item.done" id="{{item.id}}" />
                <label for="{{item.id}}" ng-class="{'done-true': item.done}">{{item.todoNote}}</label>
            </li>
        </ul>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/Materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/todoModule.js"></script>
</body>

</html>
