<!DOCTYPE html>
<html lang="en" ng-app="TodoModule">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
    .done-true {
        text-decoration: line-through;
        color: grey;
    }
    </style>
</head>

<body>
    <div class="container" ng-controller="TodoCtrl">
        <h2 class="text-center">total todos: {{getTotalTodos()}}</h2>

        <div class="list-group">
            <label class="list-group-item" ng-repeat="todo in todos track by $index">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </label>
        </div>

        <form class="form-horizontal">
            <input type="text" class="form-control" placeholder="write something" ng-model="formTodoText" style="display: inline-block; max-width: 220px;">

            <button ng-click="addTodo()" ng-disabled="!formTodoText" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> add
            </button>

            <button ng-click="cleanCompletedTodo()" class="btn btn-default">
                <i class="glyphicon glyphicon-trash"></i> clean
            </button>
        </form>
    </div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/test-todo.js"></script>
</body>

</html>
